@use 'styles/variables/colors';
@use 'styles/mixins/center-content';
@use 'styles/variables/dims';

$option-margin: 0.2em;
$option-height: 1.3em;

:export {
  optionMargin: $option-margin;
  optionHeight: $option-height;
}
