@use 'styles/variables/dims';
@use 'styles/variables/colors';

@mixin active-button($color) {
  box-shadow: 0 0 $color;

  &:hover {
    background: darken($color, 2%);
  }
  &:focus,
  &:active {
    background: darken($color, 4%);
    box-shadow: 0 0 0 3px transparentize($color, 0.6);
  }
}

.CleanButton {
  composes: reset-button from '~styles/util/reset.scss';
}

.Button {
  composes: reset-button from '~styles/util/reset.scss';
  composes: text-primary from '~styles/util/colors.scss';
  composes: rounded from '~styles/util/rounded.scss';

  padding: 0.5em 1em;
  transition: background 200ms;
}

.primary {
  background: colors.$accent;

  &:hover {
    background: colors.$accent-hover;
  }
  &:active,
  &:focus {
    background: colors.$accent-active;
  }
}
.secondary {
  background: transparent;
  border: 4px solid colors.$accent;

  &:hover {
    background: colors.$secondary-hover;
  }
  &:active,
  &:focus {
    background: colors.$secondary-active;
  }
}
.disabled {
  background: colors.$disabled;
}
