@use 'styles/variables/dims';
@use 'styles/variables/colors';

@mixin active-button($color) {
  box-shadow: 0 0 $color;

  &:hover {
    background: darken($color, 2%);
  }
  &:focus,
  &:active {
    background: darken($color, 4%);
    box-shadow: 0 0 0 3px transparentize($color, 0.6);
  }
}

.CleanButton {
  composes: reset-button from '~styles/util/reset.scss';
}

.Button {
  composes: text-primary from '~styles/util/colors.scss';
  composes: rounded from '~styles/util/rounded.scss';
  padding: 0.6rem 1rem;
  font-size: 1.2em;
  transition: 200ms;
}

/* Variants */
.primary {
  composes: bg-accent-darker from '~styles/util/colors.scss';
  @include active-button(colors.$accent-darker);
}
.neutral {
  composes: bg-primary-lighter from '~styles/util/colors.scss';
  @include active-button(colors.$primary-lighter);
}
.error {
  composes: bg-error-darker from '~styles/util/colors.scss';
  @include active-button(colors.$error-darker);
}
.disabled {
  composes: bg-disabled from '~styles/util/colors.scss';
  cursor: default;
}
