.WelcomeBackground {
  padding-bottom: 10vh;
  height: 105vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95.2%);
}

.Title {
  white-space: pre;

  span,
  button {
    margin: 0 0.1em;
  }
}

.AdvantagesBackground {
  padding-top: 15%;
  padding-bottom: 10%;
  clip-path: polygon(0% 6%, 27% 12%, 100% 0%, 100% 91%, 0% 100%);
}
