@use 'styles/variables/colors';
@use 'styles/mixins/center-content';

.Screen {
  composes: centered from '~styles/util/centered.scss';

  min-height: 80vh;
  flex-direction: column;
}

.Title {
  white-space: pre;

  span,
  button {
    margin: 0 0.15em;
  }
}
