.variant-1 {
  clip-path: url(#shape-trapezoid-1);
}
.variant-2 {
  clip-path: url(#shape-trapezoid-2);
}
.variant-3 {
  clip-path: url(#shape-trapezoid-3);
}
.variant-4 {
  clip-path: url(#shape-trapezoid-4);
}
.variant-5 {
  clip-path: url(#shape-trapezoid-5);
}
.variant-6 {
  clip-path: url(#shape-trapezoid-6);
}
