@use 'styles/mixins/media';

.StyledTitle {
  font-weight: normal;
  white-space: nowrap;
  font-size: 2.3rem;

  @include media.md {
    font-size: 3rem;
  }

  & > div {
    $width: 1.2em;
    $height: 1.5em;

    width: $width;
    height: $height;
    padding: (($height - 1) / 2) (($width - 1) / 2);

    margin: 0 0.1em;
    display: inline-block;
    text-align: center;
    line-height: 1;

    @include media.md {
      margin: 0 0.2em;
    }
  }
}
