@use 'styles/mixins/route-transition';

.Page {
  // Create stacking context
  transform: translate(0);
  z-index: 1;

  // @include route-transition.self(exit-to, exit-done) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  // }
}
