{
  "extends": ["react-app", "standard", "prettier"],
  "plugins": ["@typescript-eslint", "sort-imports-es6-autofix", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "project": "./tsconfig.json"
  },
  "root": true,
  "env": {
    "es6": true
  },
  "rules": {
    "no-unused-expressions": "off",
    "no-debugger": "warn",
    "no-unused-vars": "warn",
    "no-useless-constructor": "off",
    "no-dupe-class-members": "off",
    "spaced-comment": "warn",
    "no-inner-declarations": "off",
    "no-use-before-define": "off",
    "sort-imports-es6-autofix/sort-imports-es6": ["warn"],

    "react-hooks/exhaustive-deps": [
      "error",
      {
        "additionalHooks": "(useAsyncCallback)"
      }
    ],
    "react/jsx-curly-brace-presence": [
      "warn",
      {
        "props": "always"
      }
    ],

    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/member-ordering": "warn",
    "@typescript-eslint/no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ]
  }
}
