@use 'styles/variables/colors';

@keyframes ellipse {
  from {
    stroke-dashoffset: 0;
    stroke-dasharray: 220, 0;
  }
  50% {
    stroke-dasharray: 220, 30;
  }
  to {
    stroke-dasharray: 220, 0;
    stroke-dashoffset: 220;
  }
}
@keyframes circle {
  from {
    stroke-dasharray: 24 0;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 24 10;
    stroke-dashoffset: 18;
  }
  to {
    stroke-dasharray: 24 0;
    stroke-dashoffset: 24;
  }
}
@keyframes path {
  from {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 36;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.steady {
  animation-play-state: paused;
}
.logoQBody {
  animation: ellipse 2s cubic-bezier(0.5, 0.17, 0.5, 0.83) infinite;
}
.logoDot1 {
  animation: circle 2s linear infinite;
}
.logoDot2 {
  animation: circle 2s 0.2s linear infinite;
}
.logoQTail {
  stroke-dasharray: 74;
  animation: path 2s ease-in-out infinite;
}

.logoQBody,
.logoDot1,
.logoDot2,
.logoQTail {
  /* Allow stopping animation from wrapper component */
  animation-play-state: inherit;
  stroke-linecap: round;
  color: colors.$text;
}
