@use 'styles/variables/colors';
@use 'styles/variables/dims';

$color: colors.$accent;
$shadow: transparentize($color, 0.6);

$size: 1.2rem;
$half: $size / 2 + 0.1;

.CheckboxInput {
  opacity: 0;
  size: 0;
}

.Checkbox {
  composes: disable-touch-bg from '~styles/util/touch-bg.scss';
  composes: rounded from '~styles/util/rounded.scss';

  size: $size;
  cursor: pointer;
  border: 2px solid $color;
  box-shadow: inset 0 0 0 0 $color, 0 0 0 0 $shadow;
  transition: box-shadow 150ms, border-color 100ms;

  // To retain width
  display: inline-block;

  input:focus ~ & {
    outline: none;
    box-shadow: inset 0 0 0 0 $color, 0 0 0 3px $shadow;
  }

  input:checked ~ & {
    box-shadow: inset 0 0 0 $half $color;
  }

  input:focus:checked ~ & {
    box-shadow: inset 0 0 0 $half $color, 0 0 0 3px $shadow;
  }
}
