$size: 1.5em;
$color: theme('colors.primary.500');

.CheckboxInput {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.Container {
  composes: cursor-pointer from global;

  position: relative;
  display: inline-block;
  width: $size;
  height: $size;
}

.Checkbox {
  composes: disable-touch-bg from global;

  width: 100%;
  height: 100%;
  border: 3px solid $color;
  display: inline-block;
  box-shadow: 0 0 0 0 $focus-color;
  // border-radius: (dims.$border-radius / 2);
  transition: box-shadow 100ms;

  .CheckboxInput:active ~ &,
  .CheckboxInput:focus ~ & {
    box-shadow: 0 0 0 3px $focus-color;
  }
}

.Tick {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  path {
    stroke: $color;
    stroke-width: 3;
    stroke-dasharray: 15;
    stroke-dashoffset: 15;
    opacity: 0;
    transition-duration: 200ms;
    transition-property: stroke-dashoffset, opacity;

    .CheckboxInput:checked ~ & {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
}
