@use 'styles/mixins/media';
@use 'styles/variables/dims';

.OpenButton {
  // Moving it to the left of settings button
  transform: translate(-100%);
  bottom: dims.$sidebar-size;

  @include media.md {
    bottom: auto;
    top: dims.$sidebar-size;
  }
}

.Content {
  padding: 4.5rem 1.5rem 30rem;
}

// Close button is located in stacking content, created by scrollbars
.CloseButton {
  bottom: 0;

  @include media.md {
    bottom: auto;
    top: 0;
  }
}
