$duration: 500ms;

:export {
  duration: $duration;
}

.Container {
  list-style: none;
  position: relative;
  padding: 0;
}

.View {
  transition: transform $duration;
  position: absolute;
  top: 0;
}
