@use 'styles/mixins/route-transition';
@use 'styles/variables/dims';
@use 'styles/variables/time';
@use 'styles/variables/colors';

.Box {
  width: 35rem;
  padding: 1.5rem 2rem;
  max-width: 90%;
  background: colors.$layer-1;
  box-shadow: 0 1px 8px colors.$shadow;
  border-radius: dims.$border-radius;
  transition: transform time.$route-transition-duration;

  h2 {
    text-shadow: 1px 1px 2px colors.$shadow;
  }
  p {
    text-shadow: 1px 1px 2px colors.$shadow;
  }

  @include route-transition.descendant(enter) {
    transform: translateY(100vh);
  }
  @include route-transition.descendant(enter-active, exit) {
    transform: translate(0);
  }
  @include route-transition.descendant(exit-active) {
    transform: translateY(100vh);
  }
}

.Container {
  padding-bottom: 2rem;
  min-width: 30rem;
}
.Title {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.Input {
  font-size: 1.2rem;
}
.Error {
  margin: 0.5rem 0 0.8rem;
}
