// Outer circle doesn't use clip shape, because it is used to track progress
// Container element has clip-shape and it prevents .outer's square background
// from overflowing clip shape

.variant-1 {
  & {
    clip-path: url(#shape-bubble-outer-1);
  }
  .inner {
    clip-path: url(#shape-bubble-inner-1);
  }
}
.variant-2 {
  & {
    clip-path: url(#shape-bubble-outer-2);
  }
  .inner {
    clip-path: url(#shape-bubble-inner-2);
  }
}
.variant-3 {
  & {
    clip-path: url(#shape-bubble-outer-3);
  }
  .inner {
    clip-path: url(#shape-bubble-inner-3);
  }
}
.variant-4 {
  & {
    clip-path: url(#shape-bubble-outer-4);
  }
  .inner {
    clip-path: url(#shape-bubble-inner-4);
  }
}
