.VerificationMessage,
.Form {
  transition: 500ms;
}

.VerificationMessage {
  transform: translate(-100%);
  opacity: 0;
}

.TraditionalRegistration.needsEmailVerification {
  .Form {
    transform: translate(100%);
    opacity: 0;
  }
  .VerificationMessage {
    transform: translate(0);
    opacity: 1;
  }
}
