@use 'styles/mixins/transition';

$offset: 15rem;
$scale-factor: 1.1;
$transition-duration: 400ms;
$transition-class-name: applet-container;

:export {
  transitionDuration: $transition-duration;
  transitionClassName: $transition-class-name;
}

.WordsApplet {
  size: 100%;
  overflow: hidden;
  position: relative;
}

.Session {
  size: 100%;
}

.Content,
.Settings {
  transition: transform $transition-duration, opacity $transition-duration;
  position: absolute 0;
}

.Content {
  transform: translate(0);
  opacity: 1;

  @include transition.self($transition-class-name, (enter)) {
    transform: scale($scale-factor);
    opacity: 0;
  }
  @include transition.self($transition-class-name, (enter-to, exit)) {
    transform: scale(1);
    opacity: 1;
  }
  @include transition.self($transition-class-name, (exit-active)) {
    transform: scale($scale-factor);
    opacity: 0;
  }
  @include transition.self($transition-class-name, (exit-done)) {
    display: none;
  }

  .settingsOpen & {
    transform: translate(-$offset);
    opacity: 0;
  }
}

.Settings {
  display: none;

  @include transition.self($transition-class-name, (enter)) {
    transform: translate($offset);
    opacity: 0;
    display: block;
  }
  @include transition.self($transition-class-name, (enter-to, exit)) {
    transform: translate(0);
    opacity: 1;
    display: block;
  }
  @include transition.self($transition-class-name, (exit-active)) {
    transform: translate($offset);
    opacity: 0;
    // display: none; is defined in exit state
  }
}
