@use 'styles/mixins/transition-translate';
@use 'styles/mixins/media';
@use 'styles/variables/colors';
@use 'styles/variables/time';
@use 'styles/variables/dims';

.Container {
  flex-direction: column;

  @include media.md {
    flex-direction: row;
  }
}

.AuthBlock {
  display: flex;
  min-width: 20rem;
  min-height: 25rem;
  flex-direction: column;
  border-radius: dims.$border-radius;
  text-align: center;
  padding: 1.5rem 3rem;

  @include media.md {
    padding: 1.5rem 20%;
  }
}
.AuthTitle {
  text-align: center;
}
.AuthButton {
  align-self: center;
  max-width: 15rem;

  &:nth-of-type(1) {
    @include transition-translate.dir(30vw);
  }
  &:nth-of-type(2) {
    @include transition-translate.dir(70vw);
  }
}
