@use 'styles/mixins/transition';
@use 'styles/mixins/transition-translate';
@use 'styles/mixins/route-transition';
@use 'styles/variables/elevation';
@use 'styles/variables/colors';
@use 'styles/variables/dims';

$background: colors.$primary;

:export {
  settingsTransitionDuration: 300;
  settingsTransitionClassName: settings-container;
}

.OpenButton,
.CloseButton {
  position: absolute;
  border-radius: 50%;
  transition: 150ms ease-in-out;
  padding: 0.25rem;
  z-index: elevation.$open-settings;
  margin: 0.35rem;
  color: colors.$action;
  size: (dims.$sidebar-size - 2 * 0.35rem);
  right: 10px;
  top: 0;

  &:hover {
    color: colors.$hover;
  }
  &:active {
    opacity: 0.9;
  }
  &:focus {
    color: colors.$focus;
  }
}
.ButtonIcon {
  size: 100%;
  opacity: 0.75;
}
.CloseButton .ButtonIcon {
  padding: 0.2rem;
}

.Container {
  // Overriding scrollbars position
  position: absolute 0 !important;
  background: $background;
  z-index: elevation.$settings;
  transition: 200ms ease-out;
  transition-property: opacity, transform;
  transform: scale(1.1);
  opacity: 0;

  @include transition.self(settings-container, (enter-to, exit)) {
    opacity: 1;
    transform: scale(1);
  }
  @include transition.self(settings-container, (exit-active)) {
    opacity: 0;
    transform: scale(1.1);
  }
  @include route-transition.descendant(exit-active) {
    opacity: 0;
    transform: scale(1.1);
  }
}
.Content {
  padding: 4.5rem 1.5rem 30rem;
}
// .Content {
//   padding: 4.5rem 1.5rem 30rem;
//   transition: transform 200ms cubic-bezier(0, 0.55, 0.45, 1);
//   transform: scale(1.1);
//   overflow-y: scroll;
//   size: 100%;

//   @include transition.descendant(settings-container, (enter-to, exit)) {
//     transform: scale(1);
//   }
//   @include transition.descendant(settings-container, (exit-active)) {
//     transform: scale(1.1);
//   }

//   @include route-transition.descendant(exit-active) {
//     transform: scale(1.1);
//   }
// }
