#root {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

$track-width: 12px;
$thumb-width: 10px;
.scroll-thumb {
  $bg: rgba(255, 255, 255, 0.1);
  background: $bg;
  transition: background-color 100ms;
  border-radius: 4px;
  width: $thumb-width !important;

  &:hover {
    background-color: transparentize($color: $bg, $amount: 0.01);
  }
  &:active {
    background-color: transparentize($color: $bg, $amount: 0.03);
  }
}
.scroll-track {
  width: $track-width !important;
  top: 2px;
  right: 0;
  bottom: 2px;
}

kbd {
  background: theme('colors.black');
  border-radius: 0.25rem;
  font-weight: bold;
  font-family: 'Ubuntu Mono', monospace;
  padding: 0.1rem 0.25rem;
  border: 2px solid theme('colors.secondary.200');
}
