@use './mixins/center-content';
@use './mixins/media';
@use './variables/colors';
@use './variables/dims';

#root,
#app {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.scroll-thumb {
  $bg: rgba(255, 255, 255, 0.1);
  background: $bg;
  transition: background-color 100ms;
  border-radius: 4px;
  width: 7px !important;

  &:hover {
    background-color: transparentize($color: $bg, $amount: 0.01);
  }
  &:active {
    background-color: transparentize($color: $bg, $amount: 0.03);
  }
}
.scroll-track {
  width: 10px !important;
  top: 2px;
  right: 0;
  bottom: 2px;
}
