@font-face {
  font-family: 'Ubuntu Mono';
  src: url('./fonts/UbuntuMono-Regular.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Regular.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Neucha';
  src: url('./fonts/Neucha-Regular.ttf') format('opentype');
  font-display: swap;
}
