@use './mixins/transition-presets';
@use 'sass:string';

// All transitions class names are of form
// route-{name}, route-enter-{name}, route-exit-{name}

@function get-selector($names, $postfixes) {
  $selector: '';
  @each $name in $names {
    @each $postfix in $postfixes {
      $selector: $selector + ', .' + $postfix + '-' + $name;
    }
  }
  @return string.slice($selector, 2);
}

@mixin enter-class-name($names...) {
  $selector: get-selector($names, (route, route-enter));
  #{$selector} {
    @content;
  }
}
@mixin exit-class-name($names...) {
  $selector: get-selector($names, (route, route-exit));
  #{$selector} {
    @content;
  }
}

.bg-page {
  background: theme('colors.secondary.1000');
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
@include enter-class-name(opacity) {
  @include transition-presets.opacity-start;
}
@include exit-class-name(opacity) {
  @include transition-presets.opacity-end;
}

@include enter-class-name(right, overlay) {
  @include transition-presets.dir-start(right);
}
@include enter-class-name(left) {
  @include transition-presets.dir-start(left);
}
@include enter-class-name(down) {
  @include transition-presets.dir-start(down);
}
@include enter-class-name(up) {
  @include transition-presets.dir-start(up);
}

@include exit-class-name(right, overlay) {
  @include transition-presets.dir-end(100vw);
}
@include exit-class-name(left) {
  @include transition-presets.dir-end(-100vw);
}
@include exit-class-name(down) {
  @include transition-presets.dir-end(0, 100%);
}
@include exit-class-name(up) {
  @include transition-presets.dir-end(0, -100%);
}
