@use 'styles/mixins/transition';

$transition-class-name: words-applet;
$transition-duration: 500ms;

:export {
  transitionClassName: $transition-class-name;
  transitionDuration: $transition-duration;
}

.transitionUp {
  @include transition.descendant($transition-class-name, (enter)) {
    transform: translate(-100vh);
  }
  @include transition.descendant($transition-class-name, (enter-active, exit)) {
    transform: translate(0);
  }
  @include transition.descendant($transition-class-name, (exit-active)) {
    transform: translate(-100vh);
  }
}
.transitionDown {
  @include transition.descendant($transition-class-name, (enter)) {
    transform: translate(100vh);
  }
  @include transition.descendant($transition-class-name, (enter-active, exit)) {
    transform: translate(0);
  }
  @include transition.descendant($transition-class-name, (exit-active)) {
    transform: translate(100vh);
  }
}
