.Title {
  font-weight: normal;
  margin: 0 0 0.5em;
}

h1.Title {
  font-size: 3rem;
}
h2.Title {
  font-size: 2.4rem;
}
h3.Title {
  font-size: 2rem;
}
h4.Title {
  font-size: 1.7rem;
}
h5.Title {
  font-size: 1.3rem;
}
h6.Title {
  font-size: 1.1rem;
}
