.Title {
  font-weight: normal;
}

h1.Title {
  font-size: 3rem;
  margin-bottom: 1.1rem;
}
h2.Title {
  font-size: 2.4rem;
  margin-bottom: 1.1rem;
}
h3.Title {
  font-size: 2rem;
  margin-bottom: 0.9rem;
}
h4.Title {
  font-size: 1.7rem;
  margin-bottom: 0.9rem;
}
h5.Title {
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
}
h6.Title {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
}
