.Container {
  padding: 0 1rem;
  flex-direction: column;
}
.Form {
  width: 25rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.TextArea {
  margin: 1rem 0;
  resize: vertical;
  max-height: 50vh;
  min-height: 2.5rem;
  font-family: inherit;
}
.Hint {
  color: #aaa;
  font-size: 1rem;
}
.Button {
  align-self: flex-end;
}
