@use 'styles/mixins/transition';

$transition-duration: theme('transitionDuration.route') * 0.75;
$transition-class-name: route-loading;

:export {
  transitionDuration: $transition-duration;
  transitionClassName: $transition-class-name;
}

.RouteLoading {
  composes: flex items-center justify-center from global;

  transition: opacity $transition-duration
    (theme('transitionDuration.route') - $transition-duration);

  @include transition.self($transition-class-name, (from)) {
    opacity: 0;
  }
  @include transition.self($transition-class-name, (to, exit)) {
    opacity: 1;
  }
  @include transition.self($transition-class-name, (exit-active)) {
    opacity: 0;
  }
  @include transition.self($transition-class-name, (exit-done)) {
    display: none;
  }
}
