@use 'styles/mixins/transition';
@use 'styles/variables/time';
@use 'styles/variables/colors';
@use 'styles/variables/elevation';

$transition-duration: time.$route-transition-duration * 0.75;
$transition-class-name: route-loading;

:export {
  transitionDuration: $transition-duration;
  transitionClassName: $transition-class-name;
}

.RouteLoading {
  composes: centered from '~styles/util/centered.scss';

  background: colors.$background;
  position: absolute 0;
  z-index: elevation.$route-loading;
  transition: opacity $transition-duration
    (time.$route-transition-duration - $transition-duration);

  @include transition.self($transition-class-name, (from)) {
    opacity: 0;
  }
  @include transition.self($transition-class-name, (to, exit)) {
    opacity: 1;
  }
  @include transition.self($transition-class-name, (exit-active)) {
    opacity: 0;
  }
  @include transition.self($transition-class-name, (exit-done)) {
    display: none;
  }
}
