@use 'styles/variables/colors';
@use 'styles/variables/elevation';

.Navigation {
  composes: flex justify-around items-center bg-navigation absolute inset-x-0 bottom-0 h-12 px-2 from global;

  transition: transform 500ms;
  z-index: elevation.$navigation;
}
.hidden {
  transform: translateY(100%);
}

.Button {
  composes: reset-link w-10 from global;
}
