@use 'styles/mixins/transition-translate';
@use 'styles/variables/colors';
@use 'styles/variables/dims';

.ChoiceButton {
  composes: disable-touch-bg from '~styles/util/touch-bg.scss';

  background: colors.$accent-darker;
  border-radius: dims.$border-radius;
  transition: background 300ms;

  &:active,
  &:hover,
  &:focus {
    outline: none;
    background: darken(colors.$accent, 10%);
  }

  &.Correct {
    background: colors.$correct !important;
  }
  &.Incorrect {
    background: colors.$incorrect !important;
  }
}
