$offset: 10rem;
@keyframes appear {
  from {
    opacity: 0;
    transform: translate($offset);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes disappear {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translate($offset);
  }
}

.VirtualizedItemContainer {
  padding-left: 2em;
  list-style: none;
  width: 100%;
}

.VirtualizedGroup,
.VirtualizedItem {
  // TODO: change
  background: red;
  list-style: none;
  display: flex;
  width: 100%;
}

.VirtualizedGroup {
  z-index: 1;
}
.VirtualizedItem {
  width: 100%;
  height: 100%;
  padding-right: 0.5em;
}

$duration: 400ms;
.expanding {
  animation: appear $duration ease-out;
}
.collapsing {
  animation: disappear $duration ease-out forwards;
}

.ElementContainer {
  composes: flex items-center justify-center from global;
}
.Checkbox {
  margin: 0 0.5em;
}

.Label {
  composes: text-light from global;

  flex: 1;
  margin: 0;
  display: inline-flex;
  align-items: center;
}
