.Track {
  background: theme('colors.disabled.700');
  transition: background 200ms;
}
.Slider {
  background: theme('colors.disabled.100');
  transition-duration: 200ms;
  transition-property: transform, background, box-shadow;
}

.ToggleInput:focus,
.ToggleInput:active {
  & ~ .Slider {
    background: theme('colors.disabled.400');
    // box-shadow: 0 0 0 4px theme('colors.disabled.100');
  }
}

.ToggleInput:checked {
  & ~ .Track {
    background: theme('colors.primary.900');
  }
  & ~ .Slider {
    background: theme('colors.primary.600');
    transform: translate(2.8em - 1.5em);
  }
}

.ToggleInput:focus:checked,
.ToggleInput:active:checked {
  & ~ .Slider {
    background: theme('colors.primary.700');
    // box-shadow: 0 0 0 4px theme('colors.primary.400');
  }
}
