@use 'styles/variables/colors';

.ToggleInput {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.Container {
  composes: cursor-pointer from global;

  position: relative;
  display: inline-block;
  width: 2.8em 1.5em;
  height: 2.8em 1.5em;
}
.Track {
  position: absolute;
  top: 0.3em;
  bottom: 0.3em;
  left: 0.3em;
  right: 0.3em;
  border-radius: 1em;
  background: colors.$disabled;
  transition: background 200ms;
}
.Slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  background: colors.$text-disabled;
  transition-duration: 200ms;
  transition-property: transform, background, box-shadow;
}

.ToggleInput:focus,
.ToggleInput:active {
  & ~ .Slider {
    box-shadow: 0 0 0 4px transparentize(colors.$text-disabled, 0.5);
  }
}

.ToggleInput:checked {
  & ~ .Track {
    background: colors.$accent-darker;
  }
  & ~ .Slider {
    background: colors.$accent-lighter;
    transform: translate(2.8em - 1.5em);
  }
}

.ToggleInput:focus:checked,
.ToggleInput:active:checked {
  & ~ .Slider {
    box-shadow: 0 0 0 4px transparentize(colors.$accent-lighter, 0.5);
  }
}
