@use 'styles/variables/dims';
@use 'styles/variables/colors';
@use 'styles/mixins/touch-bg';
@use 'sass:math';

// These units must be rem, otherwise logic in editable list breaks
$size: 3rem;

:export {
  height: $size;
}

.ListItem {
  height: $size;
  display: flex;
  padding: 0 1rem;
  background: colors.$primary-lighter;
  align-items: center;
  border-radius: dims.$border-radius;
  overflow: hidden;
  position: relative;
}

.ListItemNew {
  @include touch-bg.disable;
  width: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: color 100ms;

  &:focus {
    outline: none;
    color: colors.$focus;
  }

  .ListItemNewIcon {
    size: 2rem;
  }
}

.ListCheckboxLabel {
  @include touch-bg.disable;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  flex: 1;
}

.ListUnfold,
.ListDelete {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-left: auto;
  padding: 0 0.1rem;
  transition: color 100ms;
  margin-left: 0.8rem;

  &:focus {
    color: colors.$focus;
  }
}
.ListUnfold {
  transition: color 100ms, transform 150ms;
  transform: rotate(180deg);
}
.ListUnfoldFolded {
  transform: rotate(0);
}

.Icon {
  height: 1.5rem;
}
