$text: #ecebf7;
$shadow: rgba(0, 0, 0, 0.2);
$hover: rgba(0, 0, 0, 0.1);
$focus-overflow: rgba(0, 0, 0, 0.17);
$incorrect: #e25141;
$correct: #2fc05f;
$error: #f44336;
$error-darker: #b71c1c;

$primary: #151529;
$primary-darker: darken($primary, 1%);
$primary-lighter: lighten($primary, 5%);
$accent: #8f5bb8;
$accent-darker: indigo;

$background: $primary;
$sidebar: $primary-darker;
$action: #d0d0d0;
$hover: #eaeaea;
$disabled: #777;
$focus: #aaa;
