$placeholder-color: #888;

.Input {
  transition: background 100ms;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 -8px theme('colors.primary.700');

  &:-ms-placeholder {
    color: $placeholder-color;
  }
  &::-ms-placeholder {
    color: $placeholder-color;
  }
  &:-moz-placeholder {
    color: $placeholder-color;
  }
  &::-moz-placeholder {
    color: $placeholder-color;
  }
  &::-webkit-placeholder {
    color: $placeholder-color;
  }
  &::placeholder {
    color: $placeholder-color;
  }

  &:focus {
    background: rgba(255, 255, 255, 0.02);
  }
}

@mixin border($color) {
  box-shadow: inset 0 -8px $color;
}

.invalid {
  @include border(theme('colors.error.default'));
}
.valid {
  @include border(theme('colors.correct.default'));
}
.warning {
  @include border(theme('colors.warning.default'));
}
.readonly {
  @include border(theme('colors.disabled.700'));
}

.variant-1 {
  clip-path: url(#shape-input-1);
}
.variant-2 {
  clip-path: url(#shape-input-2);
}
.variant-3 {
  clip-path: url(#shape-input-3);
}
