$placeholder-color: #888;

@mixin border-rule($color, $thickness) {
  border-bottom: $thickness solid $color;
  // box-shadow: inset 0 (-$thickness) $color;
}
@mixin border($color) {
  // border-bottom: $thickness solid $color;
  // &.InvisibleInput,
  // &.Input {
  @include border-rule($color, 4px);
  // }
}

.InvisibleInput,
.Input {
  transition: 100ms;
  @include border(theme('colors.primary.700'));
}
.InvisibleInput {
  background: none;
  border: none;

  &:focus {
    @include border-rule(theme('colors.primary.900'), 4px);
  }
}
.Input {
  background: rgba(255, 255, 255, 0.05);

  &:-ms-placeholder {
    color: $placeholder-color;
  }
  &::-ms-placeholder {
    color: $placeholder-color;
  }
  &:-moz-placeholder {
    color: $placeholder-color;
  }
  &::-moz-placeholder {
    color: $placeholder-color;
  }
  &::-webkit-placeholder {
    color: $placeholder-color;
  }
  &::placeholder {
    color: $placeholder-color;
  }

  &:focus {
    background: rgba(255, 255, 255, 0.02);
  }
}

.Input::-ms-reveal {
  // Color has no effect on this button and it's black by default so inverting it
  filter: invert(1);
}

.invalid {
  @include border(theme('colors.error.DEFAULT'));
}
.valid {
  @include border(theme('colors.correct.DEFAULT'));
}
.warning {
  @include border(theme('colors.warning.DEFAULT'));
}
.readonly {
  @include border(theme('colors.disabled.700'));
}
