@use 'styles/variables/colors';
@use 'styles/variables/dims';

$error: colors.$error;
$border: colors.$accent;
$correct: colors.$correct;
$placeholder-color: #888;

.Input {
  transition: box-shadow 150ms, border-radius 150ms;
  background: colors.$background-lighter;
  box-shadow: 0 0 0 0 $border, inset 0 -3px $border;
  padding: 0.5em 0.8em;
  border-radius: dims.$border-radius dims.$border-radius 0 0;
  width: 100%;

  &:-ms-placeholder {
    color: $placeholder-color;
  }
  &::-ms-placeholder {
    color: $placeholder-color;
  }
  &:-moz-placeholder {
    color: $placeholder-color;
  }
  &::-moz-placeholder {
    color: $placeholder-color;
  }
  &::-webkit-placeholder {
    color: $placeholder-color;
  }
  &::placeholder {
    color: $placeholder-color;
  }

  &:focus {
    border-radius: dims.$border-radius;
    box-shadow: 0 0 0 3px $border, inset 0 0 $border;
  }
}

.invalid {
  box-shadow: 0 0 0 0 $error, inset 0 -3px $error;

  &:focus {
    box-shadow: 0 0 0 3px $error, inset 0 0 $error;
  }
}
.valid {
  box-shadow: 0 0 0 0 $correct, inset 0 -3px $correct;

  &:focus {
    box-shadow: 0 0 0 3px $correct, inset 0 0 $correct;
  }
}
