.Container {
  width: 100% 95vh;
  height: 100% 95vh;
  display: flex;
  align-items: center;
  padding-bottom: 3%;
}

.Line {
  // TODO: change or delete or whatever or delete TitleLine entirely
  composes: bg-secondary-100 from global;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 3rem 2rem;
  width: 100%;

  min-height: 10rem;
}
