@use 'styles/variables/colors';
@use 'styles/variables/time';

.Container {
  size: 100% 95vh;
  display: flex;
  align-items: center;
  padding-bottom: 3%;
}

.Line {
  composes: bg-primary-lighter from '~styles/util/colors.scss';

  box-shadow: 0 0 15px colors.$shadow;
  padding: 3rem 2rem;
  width: 100%;

  min-height: 10rem;
}
