@use 'styles/mixins/touch-bg';
@use 'styles/variables/colors';
@use 'styles/variables/dims';

$color: colors.$accent;
$shadow: transparentize($color, 0.6);

$size: 1.2rem;
$half: $size / 2 + 0.1;

.Dot {
  @include touch-bg.disable;
  cursor: pointer;
  display: inline-block;
  size: $size;
  background: transparent;
  border: 2px solid $color;
  border-radius: 0.3rem;
  margin-right: 1rem;
  box-shadow: inset 0 0 0 0 $color, 0 0 0 0 $shadow;
  transition: box-shadow 150ms, border-color 100ms;

  &:focus {
    // border-color: colors.$focus;
    outline: none;
    box-shadow: inset 0 0 0 0 $color, 0 0 0 3px $shadow;
  }

  &.Active {
    box-shadow: inset 0 0 0 $half $color;

    &:focus {
      box-shadow: inset 0 0 0 $half $color, 0 0 0 3px $shadow;
    }
  }
}
.Input {
  display: none;
}
