$option-margin: 0.25em;
$option-height: 1.3em;

:export {
  optionMargin: $option-margin;
  optionHeight: $option-height;
}

.Option {
  composes: block min-w-12 transition duration-200 from global;

  margin-bottom: $option-margin;
  height: $option-height;
}
