@media (min-width: theme('screens.md')) {
  .TrigBtn {
    position: relative;
  }
  .TrigBtn::after {
    color: theme('textColor.disabled.100');
    font-size: theme('fontSize.sm');
    text-transform: lowercase;
    position: absolute;
    bottom: 20%;
    right: 20%;
  }

  .TrigZero::after {
    content: 'ё';
  }
  .TrigSqrt::after {
    content: 'e';
  }
  .TrigFrac::after {
    content: '/';
  }
}
