@use 'styles/mixins/transition';
@use 'styles/mixins/media';
@use 'styles/variables/colors';
@use 'styles/variables/elevation';

.Notification {
  composes: text-primary from '~styles/util/colors.scss';

  z-index: elevation.$notification;
  padding: 1.5em 2em;
  font-size: 1.2rem;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.4);
  background: colors.$accent-darker;
  transition: transform 300ms;
  line-height: 120%;

  position: fixed;
  bottom: 3rem;
  right: 0;
  left: 0;

  @include transition.self(notification, (exit, enter-to, appear-to)) {
    transform: translateY(0);
  }
  @include transition.self(notification, (exit-to, from)) {
    transform: translateY(100%);
  }

  @include media.md {
    bottom: 0;
  }
}
.error {
  background: colors.$error;
}

.DismissButton {
  size: 3rem;
  color: colors.$action;
  padding: 0.8rem;
  transition: color 100ms;
  position: absolute;
  right: 0;
  top: 0;

  &:hover {
    color: colors.$hover;
  }
  &:active {
    opacity: 0.9;
  }
  &:focus {
    color: colors.$focus;
  }
}
