@use 'styles/mixins/transition';
@use 'styles/mixins/media';
@use 'styles/variables/colors';
@use 'styles/variables/elevation';

.Container {
  z-index: elevation.$notification;
  display: flex;
  padding: 0.5rem 2rem 1rem;
  font-size: 1.2rem;
  min-height: 6rem;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.4);
  background: colors.$accent-darker;
  align-items: center;

  @include transition.self(notification, (exit, enter-to, appear-to)) {
    transform: translate(0, 0);
  }
  @include transition.self(notification, (exit-to, from)) {
    transform: translate(0, 100%);
  }
  @include media.md {
    @include transition.self(notification, (exit-to, from)) {
      transform: translate(0, -100%);
    }
  }
  @include transition.self(notification, (to, exit-to)) {
    transition: transform 300ms;
  }

  position: fixed 0 0 *;
  @include media.md {
    top: auto;
    bottom: 0;
  }
}
.Error {
  background: colors.$error-dark;
}
.Close {
  size: 3rem;
  color: colors.$action;
  padding: 0.8rem;
  transition: color 100ms;
  position: absolute 0 0 * *;

  &:hover {
    color: colors.$hover;
  }
  &:active {
    opacity: 0.9;
  }
  &:focus {
    color: colors.$focus;
  }
}
