@use 'styles/variables/colors';
@use 'styles/variables/dims';

.ThemeCard {
  composes: reset-link from global;

  size: 100% 8em;
  padding: 1em;
  display: flex;
  background: colors.$background-lighter;
  box-shadow: 4px 4px 10px colors.$shadow;
  text-align: center;
  align-items: center;
  border-radius: dims.$border-radius;
  transition: 300ms;

  &:hover {
    box-shadow: 6px 6px 10px colors.$shadow;
    transform: translate(-2px, -2px);
  }
}

.Icon {
  size: 6em;
  margin-right: 1em;
}

.Label {
  flex: 1;
  margin: 0;
  text-align: center;
}
