.LetterButton {
  &:nth-of-type(4n) {
    clip-path: url(#shape-letter-button-4);
  }
  &:nth-of-type(4n + 1) {
    clip-path: url(#shape-letter-button-1);
  }
  &:nth-of-type(4n + 2) {
    clip-path: url(#shape-letter-button-2);
  }
  &:nth-of-type(4n + 3) {
    clip-path: url(#shape-letter-button-3);
  }
}
