@use 'styles/variables/colors';

.correct {
  background: colors.$correct;

  &:hover {
    background: colors.$correct-hover;
  }
  &:active,
  &:focus {
    background: colors.$correct-active;
  }
}
.incorrect {
  background: colors.$error;

  &:hover {
    background: colors.$error-hover;
  }
  &:active,
  &:focus {
    background: colors.$error-active;
  }
}
