@use 'styles/variables/dims';
@use 'styles/variables/colors';

.SocialLoginButton {
  composes: reset-link from global;

  border-radius: dims.$border-radius;
  align-items: center;
  transition: background 100ms;
  font-size: 1.2rem;
  padding: 0.5em;
  display: flex;
  cursor: pointer;
  width: 100%;

  &:focus {
    outline: none;
  }
}
.Icon {
  size: 1.5em;
  margin-right: 0.5em;
}

.disabled {
  background: colors.$disabled;
  cursor: default;
  color: colors.$text-disabled;
}
.vk {
  background: #4680c2;

  &:hover {
    background: #4b86ca;
  }
  &:active,
  &:focus {
    background: #4375af;
  }
}
.google {
  background: #4285f4;

  &:hover {
    background: #4a8fff;
  }
  &:active,
  &:focus {
    background: #3d7ee7;
  }
}
