@use 'styles/variables/dims';
@use 'styles/variables/colors';

.SocialLoginButton {
  composes: reset-link from '~styles/util/reset.scss';
  composes: text-primary from '~styles/util/colors.scss';

  border-radius: dims.$border-radius;
  align-items: center;
  transition: background 100ms;
  padding: 0.5rem 1rem;
  display: flex;
  font-size: 1.2rem;
  size: 100% 2.5rem;

  &:focus {
    outline: none;
  }
}
.Icon {
  height: 100%;
  margin-right: 1rem;
}

.disabled {
  cursor: default;
  background: #555;
  color: #bbb;
}
.vk {
  background: #4f7db3;

  &:hover {
    background: #4775aa;
  }
  &:active {
    background: #275e9e;
  }
}
.google {
  background: #cb4023;

  &:hover {
    background: #c23519;
  }
  &:active {
    background: #af280d;
  }
}
