@use 'styles/variables/colors';
@use 'styles/mixins/transition';
@use 'styles/mixins/transition-opacity';

$transition-duration: 300ms;
$transition-class-name: two-latest-display;

.Container {
  composes: w-full h-full relative flex items-center justify-center from global;
}

@keyframes item-appear {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  25% {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Transition {
  composes: centered from '~styles/util/centered.scss';

  position: absolute;
  animation: item-appear $transition-duration ease-out;
  transition: ($transition-duration * 0.75) ease-out;
  transition-property: transform, opacity;
}
.TransitionPrevious {
  opacity: 0.75;
}
.TransitionPrevious2 {
  opacity: 0;
}
.TransitionHiding {
  opacity: 0;
  transform: translate(5rem) scale(0.6);
}
