@use 'styles/mixins/route-transition';
@use 'styles/variables/time';

@mixin scale-hidden {
  transform: scale(0.9);
  opacity: 0;
}
@mixin scale-visible {
  transform: scale(1);
  opacity: 1;
}

@keyframes enter {
  from {
    @include scale-hidden;
  }
  to {
    @include scale-visible;
  }
}

@mixin scale {
  animation: enter time.$route-transition-duration;

  @include route-transition.descendant(exit-to) {
    @include scale-hidden;
    transition: time.$route-transition-duration;
  }
}
