@use './transition-controls' as transition;

@mixin self($states...) {
  $selector: transition.create-selectors(
    'route-transition',
    transition.get-states($states),
    true
  );
  #{$selector} {
    @content;
  }
}
@mixin descendant($states...) {
  $selector: transition.create-selectors(
    'route-transition',
    transition.get-states($states),
    true
  );
  #{$selector} {
    @content;
  }
}

// Same as `descendant` but works outside of css modules, so it doesn't
// add :global() to classes
@mixin descendant-no-module($states...) {
  $selector: transition.create-selectors(
    'route-transition',
    transition.get-states($states),
    false
  );
  #{$selector} {
    @content;
  }
}
