@use './route-transition';

// Entering transitions are done via animation, because
// there are problems making csstransition to assign class names
// correctly when component is not loaded yet
// NOTE: This was the initial reason but now after implementing
// new routes behaviour this may be revisited

// Animations
@keyframes opacity-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin dir-animation($name, $x, $y: 0) {
  @keyframes #{$name} {
    from {
      transform: translate($x, $y);
    }
    to {
      transform: translate(0, 0);
    }
  }
}
@include dir-animation('up-enter', 0, -100%);
@include dir-animation('down-enter', 0, 100%);
@include dir-animation('left-enter', -100vw);
@include dir-animation('right-enter', 100vw);

@mixin dir-opacity-animation($name, $x, $y: 0) {
  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translate($x, $y);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
$dir-opacity-offset: 5rem;
@include dir-opacity-animation('up-opacity-enter', 0, -$dir-opacity-offset);
@include dir-opacity-animation('down-opacity-enter', 0, $dir-opacity-offset);
@include dir-opacity-animation('left-opacity-enter', -$dir-opacity-offset);
@include dir-opacity-animation('right-opacity-enter', $dir-opacity-offset);

// Transition mixins
@mixin opacity-start {
  // #animation-controller:not(.no-animation-start) & {
  //   opacity: 0;
  // }
  // @include route-transition.descendant-no-module(enter-active) {
  //   transition: opacity theme('transitionDuration.route') !important;
  //   opacity: 1;
  // }
  // @include route-transition.descendant-no-module(enter) {
  #animation-controller:not(.no-animation-start) & {
    animation: opacity-enter theme('transitionDuration.route');
  }
  // }
}
@mixin opacity-end {
  @include route-transition.descendant-no-module(exit) {
    #animation-controller:not(.no-animation-end) & {
      opacity: 1;
    }
  }
  @include route-transition.descendant-no-module(exit-active) {
    #animation-controller:not(.no-animation-end) & {
      transition: opacity theme('transitionDuration.route') !important;
      opacity: 0;
    }
  }
}
@mixin opacity {
  @include opacity-start;
  @include opacity-end;
}

@mixin dir-start($name) {
  // Preventing exiting components from playing entering animation
  // when .no-animation-start is removed
  #animation-controller > * + &,
  #animation-controller > * + * & {
    animation: none !important;
  }

  #animation-controller:not(.no-animation-start) & {
    // transform: translate($x, $y);

    // @include route-transition.descendant-no-module(enter) {
    animation: #{$name}-enter theme('transitionDuration.route');
    // }
  }

  // @include route-transition.descendant-no-module(enter-done) {
  //   transform: translate(0, 0) !important;
  // }
  // #animation-controller:not(.no-animation-start) & {
  //   @include route-transition.descendant-no-module(/* enter-active,  */ enter) {
  //     transform: translate($x, $y);
  //   }
  //   @include route-transition.descendant-no-module(enter-active) {
  //     transition: transform theme('transitionDuration.route') !important;
  //     transform: translate(0);
  //   }
  // }
}
@mixin dir-end($x, $y: 0) {
  @include route-transition.descendant-no-module(/* enter-active,  */ exit) {
    #animation-controller:not(.no-animation-end) & {
      transform: translate(0);
    }
  }
  @include route-transition.descendant-no-module(exit-active) {
    #animation-controller:not(.no-animation-end) & {
      transition: transform theme('transitionDuration.route') !important;
      transform: translate($x, $y);
    }
  }
}
