@use 'styles/mixins/route-transition';
@use 'styles/variables/time';

@keyframes anim-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes anim-bg-opacity {
  from {
    background: transparent;
  }
}

@mixin opacity {
  animation: anim-opacity time.$route-transition-duration;
  // Entering transitions are done with CSS animations
  @include route-transition.descendant(/* enter-active,  */ exit) {
    opacity: 1;
  }
  @include route-transition.descendant(exit-active) {
    transition: opacity time.$route-transition-duration !important;
    opacity: 0;
  }
}
@mixin bg {
  animation: anim-bg-opacity time.$route-transition-duration;
  // Entering transitions are done with CSS animations
  @include route-transition.descendant(exit-active) {
    transition: background (time.$route-transition-duration / 3) !important;
    background: transparent;
  }
}
