@use './route-transition';

// Entering transitions are done via animation, because
// if transition is used, routes are not animated
// after loading
// NOTE: This was the initial reason but now after implementing
// new routes behaviour this may be revisited

// Animations
@keyframes opacity-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin dir-animation($name, $x, $y: 0) {
  @keyframes #{$name} {
    from {
      transform: translate($x, $y);
    }
    to {
      transform: translate(0, 0);
    }
  }
}
@include dir-animation('up-enter', 0, -100vh);
@include dir-animation('down-enter', 0, 100vh);
@include dir-animation('left-enter', -100vw);
@include dir-animation('right-enter', 100vw);

@mixin dir-opacity-animation($name, $x, $y: 0) {
  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translate($x, $y);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
$dir-opacity-offset: 5rem;
@include dir-opacity-animation('up-opacity-enter', 0, -$dir-opacity-offset);
@include dir-opacity-animation('down-opacity-enter', 0, $dir-opacity-offset);
@include dir-opacity-animation('left-opacity-enter', -$dir-opacity-offset);
@include dir-opacity-animation('right-opacity-enter', $dir-opacity-offset);

// Transition mixins
@mixin opacity-start {
  #animation-controller:not(.no-animation-start) & {
    animation: opacity-enter theme('transitionDuration.route');
  }
}
@mixin opacity-end {
  #animation-controller:not(.no-animation-end) & {
    @include route-transition.descendant-no-module(exit) {
      opacity: 1;
    }
    @include route-transition.descendant-no-module(exit-active) {
      transition: opacity theme('transitionDuration.route') !important;
      opacity: 0;
    }
  }
}
@mixin opacity {
  @include opacity-start;
  @include opacity-end;
}

@mixin dir-end($x, $y: 0) {
  #animation-controller:not(.no-animation-end) & {
    @include route-transition.descendant-no-module(/* enter-active,  */ exit) {
      transform: translate(0);
    }
    @include route-transition.descendant-no-module(exit-active) {
      transition: transform theme('transitionDuration.route') !important;
      transform: translate($x, $y);
    }
  }
}
@mixin up-start {
  #animation-controller:not(.no-animation-start) & {
    animation: up-enter theme('transitionDuration.route');
  }
}
@mixin up-end {
  @include dir-end(0, -100vh);
}
@mixin up {
  @include up-start;
  @include up-end;
}
@mixin down-start {
  #animation-controller:not(.no-animation-start) & {
    animation: down-enter theme('transitionDuration.route');
  }
}
@mixin down-end {
  @include dir-end(0, 100vh);
}
@mixin down {
  @include down-start;
  @include down-end;
}
@mixin right-start {
  #animation-controller:not(.no-animation-start) & {
    animation: right-enter theme('transitionDuration.route');
  }
}
@mixin right-end {
  @include dir-end(100vw);
}
@mixin right {
  @include right-start;
  @include right-end;
}
@mixin left-start {
  #animation-controller:not(.no-animation-start) & {
    animation: left-enter theme('transitionDuration.route');
  }
}
@mixin left-end {
  @include dir-end(-100vw);
}
@mixin left {
  @include left-start;
  @include left-end;
}
