@use 'styles/variables/colors';

// TODO: delete
.text-primary {
  color: colors.$text;
}
.bg-primary {
  background: colors.$primary;
}
.bg-primary-lighter {
  background: colors.$primary-lighter;
}
.bg-primary-darker {
  background: colors.$primary-darker;
}
.bg-primary {
  background: colors.$primary;
}
.bg-accent {
  background: colors.$accent;
}
.bg-accent-darker {
  background: colors.$accent-darker;
}
.bg-disabled {
  background: colors.$disabled;
}
.bg-error {
  background: colors.$error;
}
.bg-correct {
  background: colors.$correct;
}
.bg-error-lighter {
  background: colors.$error-lighter;
}
