@use 'styles/variables/colors';

$size: 3rem;

.UnfoldButton {
  composes: text-primary from '~styles/util/colors.scss';

  size: $size;
  padding: $size / 4;
  transform: rotate(180deg);
  transition: color 100ms, transform 150ms;

  &:focus {
    color: colors.$focus;
  }
}
.folded {
  transform: rotate(0);
}

.Icon {
  size: ($size / 2);
}
